name: 'automated_testing_framework'
description: 'A testing framework that allows in app tests to be built and executed in an automated way.'
version: '4.0.7+14'
homepage: 'https://github.com/peiffer-innovations/automated_testing_framework'

environment: 
  sdk: '>=2.18.0 <3.0.0'

dependencies: 
  automated_testing_framework_models: '^2.0.9+15'
  child_builder: '^2.0.0+3'
  convert: '^3.1.1'
  device_info_plus: '^8.0.0'
  flutter: 
    sdk: 'flutter'
  flutter_markdown: '^0.6.13'
  flutter_web_plugins: 
    sdk: 'flutter'
  form_validation: '^2.2.0+5'
  intl: '^0.18.0'
  json_class: '^2.1.4+1'
  json_theme: '^4.0.3+3'
  logging: '^1.1.0'
  meta: '^1.7.0'
  package_info_plus: '^3.0.2'
  provider: '^6.0.5'
  static_translations: '^2.1.1+21'
  uuid: '^3.0.7'

dev_dependencies: 
  flutter_test: 
    sdk: 'flutter'


ignore_updates: 
  - 'archive'
  - 'async'
  - 'boolean_selector'
  - 'characters'
  - 'charcode'
  - 'collection'
  - 'clock'
  - 'crypto'
  - 'fake_async'
  - 'file'
  - 'matcher'
  - 'material_color_utilities'
  - 'meta'
  - 'path'
  - 'source_span'
  - 'stack_trace'
  - 'stream_channel'
  - 'string_scanner'
  - 'sync_http'
  - 'term_glyph'
  - 'test_api'
  - 'typed_data'
  - 'vector_math'
  - 'webdriver'
